poetry.lock
.venv/
data/
__pycache__/
.env
logs
token.txt
.DS_Store
papers/
tests/
src/ML/rl
user_data/
*config*
tradesv3.dryrun.sqlite
tradesv3.dryrun.sqlite-shm
tradesv3.dryrun.sqlite-wal
*.csv
strategies/
GeneTrader/
exp/strategy/bollinger_band.py
exp/.cache/41/cache.db
exp/sg_car.ipynb
exp/sol_agent.ipynb
exp/strategy/ai_coin.ipynb
exp/strategy/rsi_macd_boll.py
runlog.txt
jobs
ibapi.egg-info
scripts
