poetry.lock
.venv/
data/
__pycache__/
.env
logs
token.txt
.DS_Store
papers/
tests/
src/ML/rl
user_data/
*config*
tradesv3.dryrun.sqlite
tradesv3.dryrun.sqlite-shm
tradesv3.dryrun.sqlite-wal
*.csv
strategies/
GeneTrader/